        Activate.ps1
        activate
        activate.csh
        activate.fish
        debugpy
        f2py
        ipython
        ipython3
        jsonschema
        jupyter
        jupyter-kernel
        jupyter-kernelspec
        jupyter-migrate
        jupyter-run
        jupyter-troubleshoot
        markdown-it
        nltk
        normalizer
        numpy-config
        pip
        pip-chill
        pip3
        pip3.12
        pygmentize
        python
        python3
        python3.12
        streamlit
        streamlit.cmd
        tqdm
        watchmedo